<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  <title>Notes</title>

  <!-- Link to stylesheet for registration/login page -->
  <link rel='stylesheet' href='/css/login.css'>
</head>
<body>
  <!-- Main container for registration/login page -->
  <div class='main-container'>

    <!-- App title -->
    <h1>Brain Dump</h1>

    <!-- Tabs for switching between Register and Login -->
    <div class='tabs'>
      <button id='login-tab' class='active'>Log In Form</button>
      <button id='register-tab'>Registration Form</button>
    </div>

    <!-- Register Form -->
    <div id='register-form-container' class='form-container'>
      <form id='register-form' method='POST' action='/auth/register'>

        <!-- Register username input -->
        <input type='text' id='register-username' class='register-username-input' name='username' placeholder='Register your username...' required>

        <!-- Register password input -->
        <input type='password' id='register-password' class='register-password-input' name='password' placeholder='Register your password...' required>

        <!-- Register button -->
        <button type='submit'>Submit Registration</button>
      </form>

      <!-- Dynamically display error message -->
      <div id='register-error' class='error'></div>
    </div>

    <!-- Login Form -->
    <div id='login-form-container' class='form-container active'>
      <form id='login-form' method='POST' action='/auth/login'>

        <!-- login username input -->
        <input type='text' id='login-username' class='login-username-input' name='username' placeholder='Log in with your username...' required>

        <!-- Login password input -->
        <input type='password' id='login-password' class='login-password-input' name='password' placeholder='Log in with your password...' required>

        <!-- Login button -->
        <button type='submit'>Submit Log In</button>
      </form>

      <!-- Dynamically display error message -->
      <div id='login-error' class='error'></div>
    </div>
  </div>

  <!-- Link to login.js file that handles reg and login functionality -->
  <script src='../js/login.js'></script>
</body>
</html>